<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
          <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/digitalgamedb</property>  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.show_sql">false</property>
    	 <mapping class="modelo.hibernate.Usuarios" package="modelo.hibernate" resource="/modelo.hibernate.Usuarios.hbm.xml"/>
    	 <mapping class="modelo.hibernate.Compra" package="modelo.hibernate" resource="/modelo.hibernate.Compra.hbm.xml"/>
    	 <mapping class="modelo.hibernate.Genero" package="modelo.hibernate" resource="/modelo.hibernate.Genero.hbm.xml"/>
    	 <mapping class="modelo.hibernate.DetalleCompra" package="modelo.hibernate" resource="/modelo.hibernate.DetalleCompra.hbm.xml"/>
    	 <mapping class="modelo.hibernate.Articulo" package="modelo.hibernate" resource="/modelo.hibernate.Articulo.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
